extends ./layout.pug

block content
  .title
    img(src=getStatic('logo.svg'))
  .content
    h1 The Jepso Business

    p.
      Jepso began trading in 2012.  We specialise in providing niche web applications for small and medium sized
      businesses that need something a little different from the plethora of products that flood the market.

    p.
      We develop, maintain and support cloud systems that solve your business needs and are a pleasure to use.

    h1 Example Projects

    .example-projects
      .example-project
        h3 Bespoke PPP Management Tool
        img.project-screenshot(src=getStatic('screenshot-maps.jpg'))
        p.
          MAMG is a company that manages Public-Private-Partnership projects on behalf of key investors.  Projects
          include all types of public buildings from hospitals to schools to custody centres.  Jepso was retained,
          in 2012, to develop a system to support the management of all their projects.  The system (known as MAPS)
          was well received at all levels; as well as helping managers to provide a good service, it has also
          facilitated project handovers between employees, ensuring that project knowledge was not lost.  
          MAPS continues to be a key part of MAMG’s disaster recovery plans and of their quality procedures
          for ISO 9001 and ISO 22301.
      .example-project
        h3 Canoe Slalom Online Entries
        img.project-screenshot(src=getStatic('screenshot-canoeslalomentries.jpg'))
        p.
          Canoe Slalom is an International and Olympic sport.  The national sport runs ranking competitions,
          at different levels, throughout the UK.  Until recently entries to national competitions have required
          manually completed entry forms and cheques to be sent to organisers, who in turn collated and checked the
          validity of each entry.  Jepso has provided an online entry system that replaces much of this process making
          it easier for competitors to enter and to know that their entry has been received.  Entry and payment errors
          have been eliminated and organisers’ work effort has been substantially reduced.
    
    h1 Who We Are

    .people
      .person
        img.photo(src=getStatic('forbes.jpg'))
        p.
          Forbes Lindesay is a Cambridge Computer Science graduate who, as a technical specialist, develops software
          used by other developers as well as business software.  He spent four years as an employee, including over two
          years at Facebook gaining experience of operating large web-based systems, before leaving to concentrate on
          growing Jepso full time.  He is regularly invited to speak at international software developer conferences and
          has contributed to some of the industry’s key developments in recent years including the ES2016 Promises
          Specification and Pug (a widely used templating language that combines JavaScript with HTML).
      .person
        img.photo(src=getStatic('dee.jpg'))
        p.
          Dee Lindesay is a Mathematics graduate with over 20 years of experience in the IT industry
          as a Project Manager and Business Analyst. She has worked with many different databases and
          technologies and a wide range of businesses from small, privately-owned, companies to major
          international businesses, including household names such as HSBC, Avis, VW, Wedgewood and Nickelodeon.
          Her focus is on delivering easy to use systems that provide tangible benefits to the businesses and end users.
          
    a.contact-btn(href="mailto:contact@jepso.com") Contact Us
